<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   categoryVideos.plist
   Project_Techkid_Gen2

   Created by ADMIN on 4/3/16.
   Copyright (c) 2016 com.gaxxanh. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>categoryVideo</key>
        <array>
            <dict>
                <key>Category</key>
                <string>iTunes Top 100</string>
                <key>GenreId</key>
                <string></string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Youtube Top 100</string>
                <key>GenreId</key>
                <string></string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Alternative</string>
                <key>GenreId</key>
                <string>genre=20/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Anime</string>
                <key>GenreId</key>
                <string>genre=29/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Blues</string>
                <key>GenreId</key>
                <string>genre=2/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Brazilian</string>
                <key>GenreId</key>
                <string>genre=1122/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Children's Music</string>
                <key>GenreId</key>
                <string>genre=4/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Chinese</string>
                <key>GenreId</key>
                <string>genre=1232/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string><![CDATA[Christian & Gospel]]></string>
                <key>GenreId</key>
                <string>genre=22/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Classical</string>
                <key>GenreId</key>
                <string>genre=5/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Comedy</string>
                <key>GenreId</key>
                <string>genre=3/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Country</string>
                <key>GenreId</key>
                <string>genre=6/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Dance</string>
                <key>GenreId</key>
                <string>genre=17/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Disney</string>
                <key>GenreId</key>
                <string>genre=50000063/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Easy Listening</string>
                <key>GenreId</key>
                <string>genre=25/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Electronic</string>
                <key>GenreId</key>
                <string>genre=7/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Enka</string>
                <key>GenreId</key>
                <string>genre=28/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string><![CDATA[Fitness & Workout]]></string>
                <key>GenreId</key>
                <string>genre=50/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>French Pop</string>
                <key>GenreId</key>
                <string>genre=50000064/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>German Folk</string>
                <key>GenreId</key>
                <string>genre=50000068/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>German Pop</string>
                <key>GenreId</key>
                <string>genre=50000066/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Hip-hop/Rap</string>
                <key>GenreId</key>
                <string>genre=18/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Holiday</string>
                <key>GenreId</key>
                <string>genre=8/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Indian</string>
                <key>GenreId</key>
                <string>genre=1262/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Instrumental</string>
                <key>GenreId</key>
                <string>genre=53/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>J-Pop</string>
                <key>GenreId</key>
                <string>genre=27/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Jazz</string>
                <key>GenreId</key>
                <string>genre=11/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>K-Pop</string>
                <key>GenreId</key>
                <string>genre=51/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Karaoke</string>
                <key>GenreId</key>
                <string>genre=52/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Kayokyoku</string>
                <key>GenreId</key>
                <string>genre=30/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Korean</string>
                <key>GenreId</key>
                <string>genre=1243/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Latino</string>
                <key>GenreId</key>
                <string>genre=12/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>New Age</string>
                <key>GenreId</key>
                <string>genre=13/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Opera</string>
                <key>GenreId</key>
                <string>genre=9/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Pop</string>
                <key>GenreId</key>
                <string>genre=14/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string><![CDATA[R&B/Soul]]></string>
                <key>GenreId</key>
                <string>genre=15/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Reggae</string>
                <key>GenreId</key>
                <string>genre=24/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Rock</string>
                <key>GenreId</key>
                <string>genre=21/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Single/Songwriter</string>
                <key>GenreId</key>
                <string>genre=10/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Soundtrack</string>
                <key>GenreId</key>
                <string>genre=16/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Spoken Word</string>
                <key>GenreId</key>
                <string>genre=50000061/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>Vocal</string>
                <key>GenreId</key>
                <string>genre=23/</string>
            </dict>
            <dict>
                <key>Category</key>
                <string>World</string>
                <key>GenreId</key>
                <string>genre=19/</string>
            </dict>
        </array>
    </dict>
</plist>
