<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>worldwide.png</string>
		<key>name</key>
		<string>USA and Worldwide</string>
		<key>store</key>
		<string>us</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alCl_2TQvOiD5Vgm1hCaGSI</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AR.png</string>
		<key>name</key>
		<string>Argentina</string>
		<key>store</key>
		<string>ar</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amyKLSulnqkHkLf-GZRVmtN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AU.png</string>
		<key>name</key>
		<string>Australia</string>
		<key>store</key>
		<string>au</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anCntsRnELFZkHxPwZU_JM_</string>
	</dict>
	<dict>
		<key>image</key>
		<string>AT.png</string>
		<key>name</key>
		<string>Austria</string>
		<key>store</key>
		<string>at</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al3CV1jrwp-BNzCqYUoqb2P</string>
	</dict>
	<dict>
		<key>image</key>
		<string>BH.png</string>
		<key>name</key>
		<string>Bahrain</string>
		<key>store</key>
		<string>bh</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anIbxX_8TV2gXArIhLroaK8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>BE.png</string>
		<key>name</key>
		<string>Belgium</string>
		<key>store</key>
		<string>be</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anF0cOfBUCdjZqzCsM2u_7b</string>
	</dict>
	<dict>
		<key>image</key>
		<string>BR.png</string>
		<key>name</key>
		<string>Brazil</string>
		<key>store</key>
		<string>br</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amgHJoypBNANk_038__LaXM</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CA.png</string>
		<key>name</key>
		<string>Canada</string>
		<key>store</key>
		<string>ca</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akuvsCHG83KKO2dpMA8uJQl</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CL.png</string>
		<key>name</key>
		<string>Chile</string>
		<key>store</key>
		<string>cl</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59ansRSEPd83q8nDRDGckRQeN</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CO.png</string>
		<key>name</key>
		<string>Colombia</string>
		<key>store</key>
		<string>co</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59aln6fDgijqUXioabr73nlSz</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CZ.png</string>
		<key>name</key>
		<string>Czech Republic</string>
		<key>store</key>
		<string>cz</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59annJcpyWYgova45AydiFshK</string>
	</dict>
	<dict>
		<key>image</key>
		<string>DK.png</string>
		<key>name</key>
		<string>Denmark</string>
		<key>store</key>
		<string>dk</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amMN19FMz1cIKqT1FYHKFR3</string>
	</dict>
	<dict>
		<key>image</key>
		<string>EG.png</string>
		<key>name</key>
		<string>Egypt</string>
		<key>store</key>
		<string>eg</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alt0YoTZrL0obWRrE61mbLk</string>
	</dict>
	<dict>
		<key>image</key>
		<string>FI.png</string>
		<key>name</key>
		<string>Finland</string>
		<key>store</key>
		<string>fl</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amx97UtSM0S5VZM5Tn4bjrX</string>
	</dict>
	<dict>
		<key>image</key>
		<string>FR.png</string>
		<key>name</key>
		<string>France</string>
		<key>store</key>
		<string>fr</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59ak5FwmTB7DRJqX3M2B1D7xI</string>
	</dict>
	<dict>
		<key>image</key>
		<string>DE.png</string>
		<key>name</key>
		<string>Germany</string>
		<key>store</key>
		<string>de</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alxKOClL2CCGsejK4H9HUCV</string>
	</dict>
	<dict>
		<key>image</key>
		<string>GH.png</string>
		<key>name</key>
		<string>Ghana</string>
		<key>store</key>
		<string>gh</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amOyeC3vYXxdy3EquMmMENB</string>
	</dict>
	<dict>
		<key>image</key>
		<string>GR.png</string>
		<key>name</key>
		<string>Greece</string>
		<key>store</key>
		<string>gr</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amLUQzbEhACbArpoHPiymHr</string>
	</dict>
	<dict>
		<key>image</key>
		<string>HK.png</string>
		<key>name</key>
		<string>Hong Kong SAR China</string>
		<key>store</key>
		<string>hk</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amAlpdLTWJTX6BIPunJ8s-A</string>
	</dict>
	<dict>
		<key>image</key>
		<string>HU.png</string>
		<key>name</key>
		<string>Hungary</string>
		<key>store</key>
		<string>hu</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59aktgXrpWBMryKhG-hREf6om</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IN.png</string>
		<key>name</key>
		<string>India</string>
		<key>store</key>
		<string>in</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amoUPfJkSlRBpbJECy3oxUD</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ID.png</string>
		<key>name</key>
		<string>Indonesia</string>
		<key>store</key>
		<string>id</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anbaNRg59WI6cZRYT7ixCif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IE.png</string>
		<key>name</key>
		<string>Ireland</string>
		<key>store</key>
		<string>IE</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anjdTsZrf3Ucd5wr7pfKy-s</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IL.png</string>
		<key>name</key>
		<string>Israel</string>
		<key>store</key>
		<string>il</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59am7m94ttv7bRYrv90FEDEv_</string>
	</dict>
	<dict>
		<key>image</key>
		<string>IT.png</string>
		<key>name</key>
		<string>Italy</string>
		<key>store</key>
		<string>it</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anyL_D9pf-f5orGTvIFI2x_</string>
	</dict>
	<dict>
		<key>image</key>
		<string>JP.png</string>
		<key>name</key>
		<string>Japan</string>
		<key>store</key>
		<string>jp</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akB6V7QJVOdGRWjXYTTwhs1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>JO.png</string>
		<key>name</key>
		<string>Jordan</string>
		<key>store</key>
		<string>jo</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59am3zYPpQcKpVMu3TlrJQpvO</string>
	</dict>
	<dict>
		<key>image</key>
		<string>KE.png</string>
		<key>name</key>
		<string>Kenya</string>
		<key>store</key>
		<string>ke</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al_Tsy844CQpEBwD0IwosxW</string>
	</dict>
	<dict>
		<key>image</key>
		<string>MY.png</string>
		<key>name</key>
		<string>Malaysia</string>
		<key>store</key>
		<string>my</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anXJeGNQ9Iu12s2j03NMsRr</string>
	</dict>
	<dict>
		<key>image</key>
		<string>MX.png</string>
		<key>name</key>
		<string>Mexico</string>
		<key>store</key>
		<string>mx</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alW2NIFZN8aD00TCJflQb7J</string>
	</dict>
	<dict>
		<key>image</key>
		<string>MA.png</string>
		<key>name</key>
		<string>Morocco</string>
		<key>store</key>
		<string>ma</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59am48_XFVjWSBUWX9vR4ehGS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NL.png</string>
		<key>name</key>
		<string>Netherlands</string>
		<key>store</key>
		<string>nl</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anoMJOC7h0sO7AASClTACIF</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NZ.png</string>
		<key>name</key>
		<string>New Zealand</string>
		<key>store</key>
		<string>nz</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amoOhTZpo2vwqtbrMIoALs5</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NG.png</string>
		<key>name</key>
		<string>Nigeria</string>
		<key>store</key>
		<string>ng</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59am4c_nKZpM1644aLTu9zmgW</string>
	</dict>
	<dict>
		<key>image</key>
		<string>NO.png</string>
		<key>name</key>
		<string>Norway</string>
		<key>store</key>
		<string>no</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al_grCkDLmzqPOPXpZWVSCq</string>
	</dict>
	<dict>
		<key>image</key>
		<string>OM.png</string>
		<key>name</key>
		<string>Oman</string>
		<key>store</key>
		<string>om</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al1xqPw7GjBEkPteIG-b2zZ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>PE.png</string>
		<key>name</key>
		<string>Peru</string>
		<key>store</key>
		<string>pe</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al7gq3mHuHBdqjDj39vcKsV</string>
	</dict>
	<dict>
		<key>image</key>
		<string>PH.png</string>
		<key>name</key>
		<string>Philippines</string>
		<key>store</key>
		<string>ph</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anCXm7LbIFMGJVvervbfw_k</string>
	</dict>
	<dict>
		<key>image</key>
		<string>PL.png</string>
		<key>name</key>
		<string>Poland</string>
		<key>store</key>
		<string>pl</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anI09uP5tcM6fx8CZpuPiwi</string>
	</dict>
	<dict>
		<key>image</key>
		<string>PT.png</string>
		<key>name</key>
		<string>Portugal</string>
		<key>store</key>
		<string>pt</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59al7skI9BUiIRHydIlHqe7c2</string>
	</dict>
	<dict>
		<key>image</key>
		<string>QA.png</string>
		<key>name</key>
		<string>Qatar</string>
		<key>store</key>
		<string>qa</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59am3pbD_brMwth6UdkSscSpe</string>
	</dict>
	<dict>
		<key>image</key>
		<string>RO.png</string>
		<key>name</key>
		<string>Romania</string>
		<key>store</key>
		<string>ro</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59an2uEzbL1XTLYAKjamX1Us8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>RU.png</string>
		<key>name</key>
		<string>Russia</string>
		<key>store</key>
		<string>ru</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59an-oQxF1-GKCJ-0eWXYkOoH</string>
	</dict>
	<dict>
		<key>image</key>
		<string>SA.png</string>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>store</key>
		<string>sa</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akiDCvSDj_twu2hA4CKy14h</string>
	</dict>
	<dict>
		<key>image</key>
		<string>SG.png</string>
		<key>name</key>
		<string>Singapore</string>
		<key>store</key>
		<string>sg</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alHk6iMluQHMFiEcZAjWopy</string>
	</dict>
	<dict>
		<key>image</key>
		<string>SK.png</string>
		<key>name</key>
		<string>Slovakia</string>
		<key>store</key>
		<string>sk</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anCoIC2Nfj_e0nXdMqZNQmk</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ZA.png</string>
		<key>name</key>
		<string>South Africa</string>
		<key>store</key>
		<string>za</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59ak874CDsP-GwmheYN-TCJxK</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ES.png</string>
		<key>name</key>
		<string>Spain</string>
		<key>store</key>
		<string>es</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anffhiaUfDeBiNqA8wqo7Hq</string>
	</dict>
	<dict>
		<key>image</key>
		<string>SE.png</string>
		<key>name</key>
		<string>Sweden</string>
		<key>store</key>
		<string>se</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akFDSWQnwbytPb1liFMYiV0</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CH.png</string>
		<key>name</key>
		<string>Switzerland</string>
		<key>store</key>
		<string>ch</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alBe6v3n3FeXXO-VC7H4YJk</string>
	</dict>
	<dict>
		<key>image</key>
		<string>TW.png</string>
		<key>name</key>
		<string>Taiwan</string>
		<key>store</key>
		<string>tw</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alSlP5V9f1P6YVoGrvSBHGc</string>
	</dict>
	<dict>
		<key>image</key>
		<string>TR.png</string>
		<key>name</key>
		<string>Turkey</string>
		<key>store</key>
		<string>tr</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akxQReRu9zoXwNqauYJou3N</string>
	</dict>
	<dict>
		<key>image</key>
		<string>UG.png</string>
		<key>name</key>
		<string>Uganda</string>
		<key>store</key>
		<string>ug</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59akn_H5ER8eSubkWpA3Oa4Q7</string>
	</dict>
	<dict>
		<key>image</key>
		<string>UA.png</string>
		<key>name</key>
		<string>Ukraine</string>
		<key>store</key>
		<string>ua</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amSLKuAir9MXh4oDINE_a2R</string>
	</dict>
	<dict>
		<key>image</key>
		<string>KW.png</string>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>store</key>
		<string>kw</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anqcXw46M2oQ2dcJkeFN2AT</string>
	</dict>
	<dict>
		<key>image</key>
		<string>GB.png</string>
		<key>name</key>
		<string>United Kingdom</string>
		<key>store</key>
		<string>nz</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59amEA53mO3KiIJRSNAzO-PRZ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>KR.png</string>
		<key>name</key>
		<string>South Korea</string>
		<key>store</key>
		<string>kr</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59alGJcdc0BEZJb2p7IgkL0Oe</string>
	</dict>
	<dict>
		<key>image</key>
		<string>VN.png</string>
		<key>name</key>
		<string>Viet Nam</string>
		<key>store</key>
		<string>vn</string>
		<key>youTubeTopPlaylistId</key>
		<string>PLFgquLnL59anfy66Thi2waVYeMxbfgHr1</string>
	</dict>
</array>
</plist>
